h1 {
	color: black;
	font-family: serif;
}
h2 { 
	color: black;
	font-family: fantasy;
}
h3 { 
	color: black;
	font-family:fantasy;
}
p1 {
	background-color: pink;
	color: blue;
	font-family: serif;
	font-size: 12;
}
p2 {
	background-color: green;
	color: white;
	font-family: fantasy; 
	font-size:14;
}