body {
	font-family:Verdana, sans-serif;
	background-color:Grey;
	text-align:center;
}

header {
	background-color:DarkSlateGrey;
	padding:1em;
}

section {
	position:absolute;
	top:10em;
	left:28em;
	text-align:center;
	width:20em;
	border:1px solid black;
	padding:1em;
}

nav {
	position:absolute;
	top:20em;
	left:7em;
	width:20em;
	background-color:DarkSlateGrey;
}

aside {
	position:absolute;
	top:20em;
	left:51em;
	width:20em;
	background-color:DarkSlateGrey;
}